{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Add To Cart {% endblock %}
{% block body %}
<h1 style="color:black;text-align:center">{{prod.product_name}}</h1>
<h4 style="color:black;text-align:center">Product Price: {{prod.product_price}} LKR</h4>
<div>
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-5 mt-md-0 mt-3" style="margin-left:6rem;margin-bottom:3rem">
      <form action="confirmBuying" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-10">
            <input name="prod_id" type="hidden" readonly class="form-control-plaintext" id="staticProdId"
              value="{{prod.id}}">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputProdQuan">Product Quantity</label>
          <input type="number" name="prod_quantity" class="form-control" id="exampleInputProdQuan"
            placeholder="Enter Product Quantity">
        </div>
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      </form>
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-md-6 mb-md-0 mb-3">
      <ul class="list-unstyled">
        <li>
          <a href="productView?val={{prod.id}}"><img src="/media/{{prod.product_image}}" width="500" height="500"></a>
        </li>
      </ul>
    </div>
    <!-- Grid column -->
  </div>
  {% endblock %}