{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block body %}


<h1 style="text-align:center;color:rgb(230, 21, 149);margin-bottom:25px">Contact Us</h1>
<div>
<!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->

          <h3 style="text-align:center;color:#706607">Tharuka Deshini</h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Colombo
            <br>Sri Lanka
            <br>happysharesrilanka@gmail.com
          </p>
          <h3 style="text-align:center;color:#706607"><br>Vishwani Induththara</h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Anuradhapura
            <br>Sri Lanka
            <br>happysharesrilanka@gmail.com
        </p>
      </div>
        <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->

          <h3 style="text-align:center;color:#706607"><br>Kovarthana</h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Jaffna
            <br>Sri Lanka
            <br>happysharesrilanka@gmail.com
        </p>
          <h3 style="text-align:center;color:#706607"><br>Dinujaya Prabash</h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Kandy
            <br>Sri Lanka
            <br>happysharesrilanka@gmail.com
        </p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <ul class="list-unstyled">
          <li >
            <a href="contact" ><img src="{%static 'shop/img/contact us.jpg'%}" width="650" height="350"></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
</div>


{% endblock %}